<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Типа сайт</title>
	<!--<link rel="shortcut icon" type="image/png" href="img/favicon.png" /> favicon пока не нужен-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <meta name="description" content="">
    <meta name="author" content="">
	<!--подключаем bootstrap-->
    <link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	

	</head>

	<body>
	  <div class="row row-repo">
	    <div class="span">
	      <a href="#" class="bnt btn-large btn-warning">GitLab</a>
	      <a href="#" class="bnt btn-large btn-info">GitHub</a>
	      <a href="#" class="bnt btn-large btn-inverse">Прочее</a>
	    </div>
	  </div>
	
	</body>
</html>
